* {
    font-family: Roboto;
}

body {
    background-image: url("/img/jeffe.jpg");
}

div {
    background-color: rgba(255, 255, 255, 0.7);
}

h1 {
    
    color: red;
}

#navbar img {
    width: 50px;
}